target
.settings*
.classpath
.project
*.log
logs
tmp
.DS_Store
log
k2-web/build*
bin
k2-qa/k2-regression/test-output
Thumbs.db
rebel.xml
git.properties
log.txt
tomcat.8084
k2-web/src/main/java/com/fidelis/k2/util/ServerLauncher.java
*.iml
.idea/*
.metadata/*
*.iml
out/*
Servers/*
k2-web/overlays/*